@model IEnumerable<Kinoman.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-hover table-bordered" id="customers">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MembershipType</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstname",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.firstname + " " + customer.lastname + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">DELETE</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click",".js-delete", function () {
                var btn = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to delete this customer?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + btn.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(btn.parents("tr")).remove().draw();
                                }
                            });
                        }                        
                    }
                });
            });
        });
    </script>    
}